<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LMFinanciamentos.Properties.Settings.u371409358_lmConnectionString"
            connectionString="server=sql452.main-hosting.eu;user id=u371409358_lm;password=P@ssw0rd;database=u371409358_lm;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="LMFinanciamentos.Properties.Settings.u371409358_lmConnectionString1"
            connectionString="server=sql452.main-hosting.eu;user id=u371409358_lm;persistsecurityinfo=True;database=u371409358_lm"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>